*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root:{
  font-family: "Mulish", sans-serif;
}

body{
  display: grid;
  justify-content: center;
  background: #121214;
  padding: 72px 104px;
  
}

main{
  display: grid;
  grid-template-columns: repeat(3,367px);  /*3 colunas com tamanho da largura da imagem*/
  gap: 48px 60px;   /*48 na linha e 60 nas colunas*/

  margin-top: 62px;
  
}

header h1{
  color: #02799D;

  line-height: 72px;
  font-size: 59px;
  font-weight: 900;

}

header p{
  color: #E1E1E6;
   
  line-height: 40px;
  font-size: 32px;
  font-weight: 600;
}

.card{
  background: #202024;
  border: 2px solid #323238;
  border-radius: 8px;
  overflow: hidden;
}

.card h2{
  color: #E1E1E6;
  font-size: 36;
  font-weight: 900;
  padding: 24px 32px 0;

}
.card p{
  color: #C4C4CC;
  font-size: 18px;
  font-weight: 600;
  padding: 24px 32px 32px;

}
